@using ApprentissageBlazor.Module.BusinessObjects
@using DevExpress.Data.Filtering;
@using DevExpress.ExpressApp;
@inject IJSRuntime JSRuntime


<style>
    .main-toolbar {
        display: none;
    }
</style>

<br />
<p class="demo-text cw-480 mt-2">
    <h2>Article Stock</h2>
</p>
<br />
<div class="d-flex flex-row cw-480">

    <DxComboBox Data="@DomaineObjsFirstName"
                TextFieldName="@nameof(DomainObject1.FirstName)"
                @bind-Value="@SelectedFirstName"
                CssClass="cw-480"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <DxComboBox Data="@DomaineObjsLastName"
                TextFieldName="@nameof(DomainObject1.LastName)"
                @bind-Value="@SelectedLastName"
                CssClass="cw-480"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <div class="me-2 mb-2">
        <DxButton RenderStyle="@btnStyles"
                  Text="Recherche"
                  CssClass="w-100"
                  Click="@(_ => OnButtonClick())" />
    </div>
</div>


<br />


<DxGrid Data="@Data">
    <Columns>
        <DxGridDataColumn FieldName="FirstName" DisplayFormat="D" MinWidth="100" />
        <DxGridDataColumn FieldName="LastName" Width="15%" />
        <DxGridDataColumn FieldName="Age" Width="15%" />
        <DxGridDataColumn FieldName="BirthDay" Width="10%" />
        <DxGridDataColumn FieldName="PhoneNumber" Width="10%" />
    </Columns>
</DxGrid>



@code {
    ButtonRenderStyle btnStyles;

    //[CascadingParameterAttribute]
    [ParameterAttribute]
    public IEnumerable<DomainObject1> DomaineObjsFirstName { get; set; }
    public DomainObject1 SelectedFirstName { get; set; }

    //[CascadingParameterAttribute]
    [ParameterAttribute]
    public IEnumerable<DomainObject1> DomaineObjsLastName { get; set; }
    public DomainObject1 SelectedLastName { get; set; }

    [ParameterAttribute]
    public object Data { get; set; }

    [ParameterAttribute]
    public IObjectSpace objectSpace { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SelectedFirstName = DomaineObjsFirstName?.FirstOrDefault();
        SelectedLastName = DomaineObjsLastName?.FirstOrDefault();
        btnStyles = ButtonRenderStyle.Primary;
    }
    void OnButtonClick()
    {
        string FirstName = this.SelectedFirstName?.FirstName;
        string LastName = this.SelectedLastName?.LastName;


        CriteriaOperator personCriteria = null;

        if (!string.IsNullOrEmpty(LastName))
        {
            personCriteria = new BinaryOperator(nameof(DomainObject1.LastName), LastName, BinaryOperatorType.Equal);
        }

        if (!string.IsNullOrEmpty(FirstName))
        {
            CriteriaOperator firstNameCriteria = new BinaryOperator(nameof(DomainObject1.FirstName), FirstName, BinaryOperatorType.Equal);

            if (personCriteria is null)
            {
                personCriteria = firstNameCriteria;
            }
            else
            {
                personCriteria &= firstNameCriteria;
            }
        }

        Data = objectSpace.GetObjects<DomainObject1>(personCriteria);
    }
}